<div class="container mt-4">
    <h2 class="mb-3">Dashboard</h2>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow-sm text-center">
          <div class="card-header bg-primary text-white">
            <h5 *ngIf="!isAdmin">Created Tickets</h5>
            <h5 *ngIf="isAdmin">Available Tickets</h5>
          </div>
          <div class="card-body">
            <h1 *ngIf="!isAdmin">{{ createdTicketCount }}</h1>
            <h1 *ngIf="isAdmin">{{ availableTicketCount }}</h1>
            <button type="button" routerLink="/tickets" routerLinkActive="active" class="btn btn-outline-primary mt-3">VIEW TICKETS</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card shadow-sm text-center">
          <div class="card-header bg-success text-white">
            <h5 *ngIf="!isAdmin">Assigned Tickets</h5>
            <h5 *ngIf="isAdmin">Unassigned Tickets</h5>
          </div>
          <div class="card-body">
            <h1 *ngIf="!isAdmin">{{ assignedTicketCount }}</h1>
            <h1 *ngIf="isAdmin">{{ unassignedTicketCount }}</h1>
            <button *ngIf="!isAdmin" type="button" [routerLink]="['/tickets']" 
            [queryParams]="{ assignee: currentUsername }"  class="btn btn-outline-success mt-3">VIEW ASSIGNED TICKETS</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mt-4" *ngIf="!isAdmin">
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-header bg-secondary text-white">
            <h5>Created Ticket Status</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let status of createdStatusCounts | keyvalue">
              <span class="me-auto badge" [ngClass]="getBadge(status.key)">
                {{ status.key }}
              </span> = <strong>{{ status.value }}</strong>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-header bg-dark text-white">
            <h5>Assigned Ticket Status</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let status of assignedStatusCounts | keyvalue">
              <span class="me-auto badge" [ngClass]="getBadge(status.key)">
                {{ status.key }}
              </span> = <strong>{{ status.value }}</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>