
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper{
    display:flex;
    height: 100vh;
    overflow: hidden;
}
.main{
    flex-grow: 1;
    overflow-y: auto;
}

#sidebar{
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    background-color: rgb(67, 204, 67);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#sidebar.expand{
    width: 260px;
    min-width: 260px;
}
.toggler-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggler-btn i {
    font-size: 1.5rem;
    color: black;
}
.sidebar-logo{
    margin: auto 0; 
}

.sidebar-logo a{
    color: black;
    font-size: 1.15rem;
    font-weight: 800;
}
#sidebar .sidebar-logo,
#sidebar a.sidebar-link span {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out, max-width 0.3s ease-in-out;
}

#sidebar:not(.expand) .sidebar-header {
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    opacity: 1;
    max-width: 200px; /* Adjust to match expanded width */
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: 0.625rem 1.625rem;
    color: black;
    display: block;
    white-space: nowrap;
    font-size: .9rem;
    border-left: 3px solid transparent;
}
.sidebar-header{
    padding: 0.625rem 1.625rem;
    color: black;
    display: block;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 600;
    border-left: 3px solid transparent;
}

.sidebar-link i{
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover{
    background-color: rgba(255,255,255,.75);
    border-left: 3px solid green;
}

.sidebar-items{
    position: relative;
}

