<ng-container *ngIf="ticketList.length > 0 || activeFilters.length > 0">
    <div>
      <div class="row g-2">
        <div class="col-8">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="searchInputDesc" (input)="onFilterChange()" [(ngModel)]="searchRequest.desc" placeholder="Search by description" aria-describedby="description">
            <label for="searchInputDesc"><i class="fas fa-magnifying-glass me-2"></i><span>Search by description</span></label>
          </div>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ticketFilter" >
            <i class="fas fa-filter me-2"></i><span>Filter Search</span>
          </button>
        </div>
      </div>
  </div>

  
<!-- Search Filter Modal -->
<div class="modal fade" id="ticketFilter" tabindex="-1" aria-labelledby="ticketFilterLabel">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ticketFilterLabel">Search Filters</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text" id="ticketNumber">Ticket Number</span>
              <input type="text" class="form-control" [(ngModel)]="searchRequest.ticketNumber" placeholder="Search by TicketNumber" aria-describedby="ticketNumber">
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="ticketStatus">Ticket Status</label>
              <select class="form-select" id="ticketStatus" [(ngModel)]="searchRequest.status" >
                <option selected value="" [attr.selected]="searchRequest.status === '' ? true : null">All</option>
                <option *ngFor="let status of ['DRAFT', 'FILED', 'IN_PROGRESS', 'CLOSED']" [value]="status">
                  {{ status }}
                </option>
              </select>
            </div>
            <div class="input-group mb-3" *ngIf="isAdmin">
              <label class="input-group-text" for="createdBy">Created By</label>
              <select class="form-select" id="createdBy" [(ngModel)]="searchRequest.createdBy" >
                <option *ngFor="let employee of availableEmployees" [value]="employee.username">
                  {{ employee.username }}
                </option>
              </select>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="updatedBy">Updated By</label>
              <select class="form-select" id="updatedBy" [(ngModel)]="searchRequest.updatedBy">
                <option *ngFor="let updater of uniqueUpdatedBy" [value]="updater">
                  {{ updater }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <label class="input-group-text" for="updatedBy">Assignee</label>
              <select class="form-select" id="updatedBy" [(ngModel)]="searchRequest.assignee">
                <option *ngFor="let username of uniqueAssignees" [value]="username">
                  {{ username }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Created Date/Time Range:</label>
              <div class="d-flex align-items-center gap-2">
                <span>Start</span>
                  <input class="form-control w-auto" id="createdStart" type="datetime-local" [(ngModel)]="searchRequest.createdStart" placeholder="Start">
                  <i class="fas fa-arrow-right"></i>
                  <span>End</span>
                  <input class="form-control w-auto" id="createdEnd" type="datetime-local" [(ngModel)]="searchRequest.createdEnd" placeholder="End">
              </div>
            </div>

            <div>
              <label class="form-label">Updated Date/Time Range:</label>
              <div class="d-flex align-items-center gap-2">
                <span>Start</span>
                  <input class="form-control w-auto" id="updatedStart" type="datetime-local" [(ngModel)]="searchRequest.updatedStart" placeholder="Start">
                  <i class="fas fa-arrow-right"></i>
                  <span>End</span>
                  <input class="form-control w-auto" id="updatedEnd" type="datetime-local" [(ngModel)]="searchRequest.updatedEnd"  placeholder="End">
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="applyFilters()" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <div class="d-flex mb-3">
    <div class="me-auto">
      <label for="entriesPerPage" class="me-2">Show</label>
      <select id="entriesPerPage" class="form-select d-inline-block w-auto" [(ngModel)]="pageSize" (change)="onEntriesChange()">
        <option *ngFor="let size of [5, 10, 20]" [value]="size">{{ size }}</option>
      </select>
      <span class="ms-2">entries per page</span>
    </div>
    <button *ngIf="!isAdmin" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployee">
      <i class="fas fa-plus me-2"></i>
      <span>Add New Ticket</span></button>
  </div>

  <div *ngIf="hasActiveFilters()" class="applied-filters p-2 mb-2 border rounded">
    <span class="fw-bold me-2">Filters Applied:</span>
    <span *ngFor="let filter of activeFilters; let i = index">
      <span class="badge bg-secondary me-2">
        {{ filter.label }}: {{ filter.value }}
        <i class="fas fa-times cursor-pointer ms-1" (click)="removeFilter(filter.key)"></i>
      </span>
    </span>
    <button class="btn btn-sm btn-outline-danger ms-2" (click)="clearFilters()">Clear All</button>
  </div>

  <ng-container *ngIf="isLoading">
    <div class="spinner-border text-success d-flex justify-content-center" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading">
    <div *ngFor="let ticket of ticketList" class="list-group">
      <a [routerLink]="['/tickets', ticket.id]" class="list-group-item list-group-item-action mb-2" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <small class="mb-3"><strong>Ticket Number: {{ticket.ticketNumber}}</strong></small>
          <small>{{ticket.createdAt | date: 'medium'}}</small>
        </div>
        <h3 class="mb-3">{{ticket.title | titlecase }}</h3>
        <p class="mb-3 text-truncate-3" >{{ticket.body}}</p>
        <div class="d-flex">
          <span class="me-auto badge" [ngClass]="getBadge(ticket.status)">
            {{ ticket.status }}
          </span>
          <h6>{{ticket.createdBy}}</h6>
        </div>
      </a>
    </div>
  </ng-container>
  <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-pagination>
</ng-container>

<ng-container *ngIf="ticketList.length === 0">
  <h3 class="mb-3">You have not yet created any tickets.</h3>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployee">
    <i class="fas fa-plus me-2"></i>
    <span>Add New Ticket</span></button>
</ng-container>

<app-add-ticket-modal
  [ticketFormAdd]="ticketFormAdd"
  (createTicket)="onCreateTicket()">
</app-add-ticket-modal>