<ng-container *ngIf="ticketList.length > 0 || activeFilters.length > 0">
    <div>
      <div class="row g-2">
        <div class="col-8">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="searchInputDesc" (input)="onFilterChange()" [(ngModel)]="searchRequest.desc" placeholder="Search by description" aria-describedby="description">
            <label for="searchInputDesc"><i class="fas fa-magnifying-glass me-2"></i><span>Search by description</span></label>
          </div>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#searchFilter">
            <i class="fas fa-filter me-2"></i><span>Filter Search</span>
          </button>
        </div>
      </div>
  </div>

  <div class="d-flex mb-3">
    <div class="me-auto">
      <label for="entriesPerPage" class="me-2">Show</label>
      <select id="entriesPerPage" class="form-select d-inline-block w-auto" [(ngModel)]="pageSize" (change)="onEntriesChange()">
        <option *ngFor="let size of [5, 10, 20]" [value]="size">{{ size }}</option>
      </select>
      <span class="ms-2">entries per page</span>
    </div>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployee">
      <i class="fas fa-plus me-2"></i>
      <span>Add New Ticket</span></button>
  </div>

  <div *ngIf="hasActiveFilters()" class="applied-filters p-2 mb-2 border rounded">
    <span class="fw-bold me-2">Filters Applied:</span>
    <span *ngFor="let filter of activeFilters; let i = index">
      <span class="badge bg-secondary me-2">
        {{ filter.label }}: {{ filter.value }}
        <i class="fas fa-times cursor-pointer ms-1" (click)="removeFilter(filter.key)"></i>
      </span>
    </span>
    <button class="btn btn-sm btn-outline-danger ms-2" (click)="clearFilters()">Clear All</button>
  </div>

  <ng-container *ngIf="isLoading">
    <div class="spinner-border text-success d-flex justify-content-center" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading">
    <div *ngFor="let ticket of ticketList" class="list-group">
      <a [routerLink]="['/tickets', ticket.id]" class="list-group-item list-group-item-action mb-2" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <small class="mb-3"><strong>Ticket Number: {{ticket.ticketNumber}}</strong></small>
          <small>{{ticket.createdAt | date: 'medium'}}</small>
        </div>
        <h3 class="mb-3">{{ticket.title | titlecase }}</h3>
        <p class="mb-3 text-truncate-3" >{{ticket.body}}</p>
        <div class="d-flex">
          <span class="me-auto badge" [ngClass]="getBadge(ticket.status)">
            {{ ticket.status }}
          </span>
          <h6>{{ticket.createdBy}}</h6>
        </div>
      </a>
    </div>
  </ng-container>
  <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-pagination>
</ng-container>


<ng-container *ngIf="ticketList.length === 0">
  <h3 class="mb-3">You have not yet created any tickets.</h3>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addEmployee">
    <i class="fas fa-plus me-2"></i>
    <span>Add New Ticket</span></button>
</ng-container>

<app-add-ticket-modal
  [ticketFormAdd]="ticketFormAdd"
  (createTicket)="onCreateTicket()">
</app-add-ticket-modal>