<div>
    <div class="row g-2">
      <div class="col-8">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="searchInputName" placeholder="Search by name" aria-describedby="fullName">
          <label for="searchInputName"><i class="fas fa-magnifying-glass me-2"></i><span>Search by description</span></label>
        </div>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#searchFilter">
          <i class="fas fa-filter me-2"></i><span>Filter Search</span>
        </button>
      </div>
    </div>
</div>

<div class="list-group">
    
</div>
